.cv-style1{
    font-weight: bold;
    font-size: 20px;
    color: grey;
}

* {
    box-sizing: border-box;
  }

.header {
    border: 1px solid gray;
}
.main{
    border: 1px solid gray;
}
.footer {
    border: 1px solid gray;
}