.cv-style1{
    font-weight: bold;
    font-size: 20px;
    color: grey;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    border: 1px solid gray;
}
.main {
    border: 1px solid gray;
}
.footer {
    border: 1px solid gray;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }